body{
    background: pink;
    color: yellow;
}

.heading{
    width: 75%;
    font-size: 22px;
}

.name_of_objects{
    color: purple;
}

#camera{
    border: 3px ridge brown;
    width: 350px;
    height: 300px;
}

#result_object_name,#result_accuracy{
    color: cornflowerblue;
}